# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserdatad
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/

# Playground artefacts
timeline.xctimeline
playground.xcworkspace
